/*le footer commun aux 5 pages*/
footer{
    color: white;
    background-color: rgb(51, 51, 51);
    padding: 30px 10px;
    width: 100vw;
    height: fit-content;
    position: relative;
    bottom:-35px;
    margin-top: -2rem;
    font-size: 16px;
    h3{
        font-family: $font-family-logo;
        font-weight: 500;
        letter-spacing: 1px;
        padding-left: 20px;
    }

     .lien-footer{
       display: grid;
       a{
       color :white; 
       padding: 10px;
         }   
     }
}