/*le responsive*/
@media screen and (min-width:700px){
    .cartes{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr;
       gap: 30px;            
           .carte-1{
               grid-area: 1/1/2/2;
           }  
           .carte-2{
               grid-area: 1/2/2/3;
           } 
           .carte-3{
               grid-area: 2/1/3/2;
           }
           .carte-4{
               grid-area:2/2/3/3;
           }
   }
   
}
@media screen and (min-width:900px){
    body{
        font-size: 15px;
    }
    .explorer{
        width: 25vw;
    }
    .commander{
        width: 20vw;
    }
    header>img , .logo>img{
       display: block;
       width: 30%;
       margin:0 auto;
       padding: 20px;
   }
    footer{
    .lien-footer{
       display: flex;
       justify-content: space-around;      
       }
       h3{
       margin-bottom: 50px;
       }
   }
   .choix{
       display: flex;
   }
    .item{
        width: 28vw;
   }
   .plat{
       display: inline-block;
       max-width: 25vw;
       font-size: 16px;
       }
       .toutes-cartes{
       display: grid;
       grid-template-columns:repeat(3, 1fr);
       .carte-dessert{
           a{
               width: 24vw;
           }
       }
   }
   .categorie{
       position: relative;
       right: -10vw;
   }
   .carte-principale{
       max-width: 90vw;
       left: 5vw;
   }
   .prix{
       margin-left: 10px;
   }
}

