$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$fond-1:rgb(241, 238, 238);
$fond-2:rgb(216, 215, 215);
$font-family-1:Roboto,sans-serif;
$font-family-2:sans-serif;
$font-family-logo:shrikhand;