@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Shrikhand&display=swap');

$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$fond-1:rgb(241, 238, 238);
$fond-2:rgb(216, 215, 215);
$font-family-1:Roboto;
$font-family-2:sans-serif;
$font-family-logo:shrikhand;

@mixin bouton{
    display: block;
    font-size: 15px;
    background:linear-gradient($couleur-secondaire, $couleur-primaire);
    border-radius:30px;
    border: 0 none;
    padding:15px;
    margin: 0 auto;
    color: white;
    font-weight: bold; 
        
}
@mixin centrer{
    display: flex;
    justify-content: center;
    align-items: center;
}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
  }


 
/*général*/
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $font-family-1, $font-family-2;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.contenu{
    flex: 1 0 auto;
}
/*le footer commun*/
footer{
    color: white;
    background-color: rgb(51, 51, 51);
    padding: 60px 10px;
    padding-bottom: 80px;
    bottom:-35px; 
    width: 100vw;
    height: fit-content;
    position: relative;
    margin-top: -2rem;
    h3{
        font-family: $font-family-logo;
        font-weight: 500;
        letter-spacing: 1px;
        padding-left: 20px;
    }

     .lien-footer{
       display: grid;
       a{
       color :white; 
       padding: 10px;
         }   
     }
}

/*page d'accueil*/
header{
    width: 100%;
}
header>img , .logo>img{
    display: block;
    width: 50%;
    margin:0 auto;
    padding: 20px;
}
.local{
    @include centrer;
    background-color: $fond-2;
    padding: 1rem 2rem;
      h3{
          margin-left: 20px;
      }
}
.reservation{
    background-color:$fond-1 ; 
    height: 20rem;      
        p{
            font-size: 20px;
            text-align: center;
        }
        h2{
            text-align: center;
            padding: 2rem 2rem 1rem 2rem;
        }
}
.explorer{
    @include bouton;
    height: 3rem;
    width:60%;
    padding: 15px;
    margin: 3rem auto; 
}

h2{
    font-family: $font-family-2;
    font-size:25px;
    font-weight: 900;
}
.fa-mobile-alt, .fa-list-ul, .fa-store{
    color: gray;
}
.item{
    @include centrer;
}
.fonctionnement{
    h2{
        padding: 50px 0 20px 20px; 
    }
}
.item{
    width: 80vw;
    height: 4rem;
    margin: 2rem auto;
    border-radius: 25px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: $fond-1;
    position: relative;
     .liste{
         background-color: $couleur-primaire;
         border-radius: 100%;
         color: white;
         font-size: 15px;
         font-weight: bold;
         padding: 10px;
         display: inline-block;
         width: 2rem;
         position: absolute;
         left:-15px;
     }
    p{
        font-family:$font-family-2;
        font-weight:bold;
        margin:  0 0 0 20px ;
        font-size: 20px;
    
    }
    &:hover{
       background-color: mix(white,$couleur-primaire , 70%);
       .fa-mobile-alt, .fa-list-ul, .fa-store{
           color: $couleur-primaire;
       }
    }
}
.decouverte{
    width: 100vw;
    padding: 0 20px;
    white-space:normal;
    
}
.restaurant{
    h2{
        background-color: $fond-1;
        padding: 50px 0 20px 20px;
    }
}
.cartes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $fond-1;
    padding-bottom: 3rem;
}
.carte{
    max-width: 170em;
    height: 280px;
    border-radius: 20px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 1rem ;
    background-color: white;
         img{
         width: 100%;
         height: 200px;
         object-fit: cover;
         border-radius: 20px 20px 0 0;
         }
}        
.nouveau{
    background-color: #99E2D0;
    width: max-content;
    padding: 5px;
    color: rgb(8, 141, 8);
    font-weight: bold;
    position: absolute;
    top:15px;
    right: 15px;    
 }
 .aligner{
     display: flex;
     justify-content: space-between;
     h3{
         font-weight: 900;
         font-style: normal;
         font-size: 20px;
         font-family: sans-serif;
     }
     div{
         margin-left: 15px;
     }
 }
 @media screen and (min-width:700px){
     .cartes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;            
            .carte-1{
                grid-area: 1/1/2/2;
            }  
            .carte-2{
                grid-area: 1/2/2/3;
            } 
            .carte-3{
                grid-area: 2/1/3/2;
            }
            .carte-4{
                grid-area:2/2/3/3;
            }
    }
    
 }
 @media screen and (min-width:900px){
     .explorer{
         max-width: 25vw;
     }
     header>img , .logo>img{
        display: block;
        width: 30%;
        margin:0 auto;
        padding: 20px;
    }
     footer{
     .lien-footer{
        display: flex;
        justify-content: space-around;      
        }
        h3{
        margin-bottom: 50px;
        }
    }
     .item{
         max-width: 50vw;
         margin: 50px auto;
    }
    
    .plat{
        display: inline-block;
        max-width: 25vw;
         
       
    }
    
       .toutes-cartes{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        .carte-dessert{
            a{
                width: 24vw;
            }
        }
    }
    .categorie{
        position: relative;
        right: -10vw;
    }
    .carte-principale{
        max-width: 90vw;
        left: 5vw;
    }
 }
 /*les autres pages*/
 header{
     a{
         position: absolute;
         top: 30px;
         left: 30px;
     }
 }
.commander{
    @include bouton;
    color: white;
    font-weight: bold;
    margin:0  auto;
    margin-top: 50px;
    width: 40vw;
    border-radius: 30px;
    height: 3.5em;
}
.image-principale{
   height: 30rem;
    width: 100vw;
    object-fit:cover; 
    z-index: 1;
    
    
}
.carte-principale{
    position: relative;
    width: 100vw;
    height:fit-content;
    background-color: $fond-1;
    border-radius: 30px 30px 0 0;
    padding-bottom: 70px; 
    padding-right: 20px;
    margin:-30px 0 0 0 ;  
    z-index: 2; 
}
.plat{
    display: inline-block;
    height: 5rem;
    margin: 20px auto;
    margin-left: 5vw;
    width: 90vw;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
   
    position: relative;
    
    }
     h4 ,.prix{
         font-family: $font-family-2;
         font-weight: bold;
      }
     h4 , p{
         width:70%;
         overflow: hidden;
         text-overflow:ellipsis;
         white-space: nowrap;
     } 
        .prix{
          position:absolute;
          right:20px;
          top:40px;
         
            
    }
    .coche{
        .fa-check-circle{
            visibility: hidden;
        }
       
   }


.categorie{
    display: inline-block; 
    border-bottom:4px solid $couleur-tertiaire;
    margin-left: 20px;
    padding-bottom:8px;
    width: 100px;
  }
.titre{
    display: flex;
    justify-content: space-between;
        h2{
         font-family: $font-family-logo;
         margin:30px;
         font-size: 30px;
     }
}
/*animation coeur*/
.favoris {
     position: relative;
   margin-top: 30px;
   margin-right: 15px;
   width: 30px;
   height: 30px;
     svg{
    position: absolute;
    width: 100%;
    height: 100%;
     fill:white;
    stroke: black;
    stroke-width: 3px;

   }
    svg:hover{
    fill:url(#MyGradient);
    
    }
}
/* case check*/
.plat{
    &:hover{
        .prix{
      position: absolute;
      right: 80px;
        }
        .coche{
          position: absolute;
          top: 0;
          right: 0;
          background: $couleur-tertiaire;
          width: 70px;
          height: 5rem;
          border-radius: 0 20px 20px 0;
        }
        .fa-check-circle{
          display: inline-block;
          color:white;
          font-size: 30px;
          position: absolute;
          top:25px;
          right:25px;
          visibility: visible;
          } 
         
    }
}